[Unit]
Description=Teleport Service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart={{ teleport_bin_path }}/teleport start --config={{ teleport_conf_path }} {{ teleport_opts | default('') }}
ExecStartPost=/bin/sh -c "echo $MAINPID > {{ systemd_pid_file }}"
ExecReload=/bin/kill -HUP $MAINPID
PIDFile={{ systemd_pid_file }}
PrivateTmp=yes
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target